:root {
    --color-bg: #FAF9F6;
    --color-main: #2F2F2F;
    --color-point: #D2B48C;
    --color-white: #FFFFFF;

    --font-sans: 'Noto Sans KR', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:  var(--color-bg);
    color: var(--color-main);
    font-family: var(--font-sans);
}

.container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 30px;
}

.main-nav ul {
    display: flex;
    justify-content: center;
    gap: 25px;
    list-style: none;
    padding: 0;
}

.main-nav a:hover, .main-nav a:focus {
    color: var(--color-point);
    transform: translateY(-3px);
}

.main-nav a {
    text-decoration: none;
    color: var(--color-main);
    font-weight: 500;
    padding: 8px 12px;
    transition: all 0.3s;
    display: inline-block;
}

.main-nav a:active {
    background-color: var(--color-point);  
}

.site-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 0 30px 0;
    border-bottom: 1px solid #EAEAEA;
}

.intro-section {
    background: linear-gradient(to bottom, var(--color-white), var(--color-bg));
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    text-align: center;
    transition: all 0.4s ease;
    background-size: 200% 100%;
}

.intro-section:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    background-position: right center;
    transition: all 0.4s ease;
}

.intro-section img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    border: 1px solid var(--color-point);
    padding: 5px;
    background-color: var(--color-white);
    transition: filter 0.3s ease;
    filter: grayscale(60%);
    animation: floatBall 3s ease-in-out infinite;
}

.intro-section p {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--color-main);
    margin-top: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

footer {
    margin-top: 80px;
    text-align: center;
    font-size: 0.9rem;
    color:#777777;
}

@media (max-width: 768px) {
    .container {
    padding: 15px;
    margin: 20px auto;
    }
}

.site-header h1 {
    font-weight: 700;
    color: var(--color-main);
    letter-spacing: -0.05em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.05);
}

.intro-section:hover img {
    filter: grayscale(0%);
}

@keyframes floatBall {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-6px);
    }
    100% {
        transform: translateY(0);
    }
}

.main-nav a::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--color-point);
    margin-top: 4px;
}

.introduce .intro-section{
    display: block;
    text-align: left;
}